@import url("https://fonts.googleapis.com/css?family=Raleway");
html {
  margin: 0;
  min-height: 100%;
  padding: 0;
  position: relative; }

body {
  background-color: #5d8965;
  color: #eee;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
  text-align: center; }

nav .navbar .navbar-brand {
  color: #eee; }
nav .navbar a:hover {
  color: #8c7457; }

.row {
  margin-right: 0;
  margin-left: 0; }

a.top {
  background-color: #585757;
  border-radius: 3px;
  bottom: 2%;
  color: #eee;
  opacity: .4;
  padding: 5px;
  position: fixed;
  right: 1%;
  transition: all .3s;
  z-index: 100; }
  a.top .top:hover {
    opacity: 1 !important; }

/* MEDIA MIN 200PX ********************************************************************************************************** */
@media (min-width: 200px) {
  /* SHOWCASE ****************************************************/
  .showcase {
    background-color: #5d8965;
    background-image: url("../imgAB/analogBreather.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 16%;
    padding: 10% 0 90%; }
    .showcase h3 {
      padding-top: 50%;
      opacity: .65;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
      text-transform: lowercase; }

  /* MUSIC/SOCIAL SECTION ****************************************************/
  .music {
    background-color: #8c7457;
    color: #eee;
    margin: 5% 0 0;
    padding: 10% 5% 50%; }
    .music .social-image {
      margin: 15% auto;
      width: 35%; }
    .music .bc-img {
      margin: auto;
      width: 70%; }

  /* FOOTER ********************************************************/
  footer {
    background-color: #222;
    border-top: 1px solid #080808;
    bottom: 0;
    left: 0;
    overflow: hidden;
    padding: 5% 0 10%;
    position: absolute;
    width: 100%; }
    footer p {
      margin: auto;
      opacity: .7; }
      footer p a {
        color: inherit; }
      footer p a:hover {
        color: #8c7457; }
    footer ul {
      list-style-type: none;
      text-align: center; }
      footer ul li a {
        color: #eee; }
      footer ul li a:hover {
        color: #8c7457; }
      footer ul li a:visited {
        color: #a2a2a2; } }
/* MEDIA MIN 300px ************************************************************************************************************************************/
@media (min-width: 300px) {
  .showcase {
    margin-top: 13%; }

  /* SOCIAL SECTION ********************************************************/
  .social {
    padding: 25% 0; }
    .social .social-image {
      margin: 0 auto;
      width: 50%; } }
/* MEDIA MIN 400px ************************************************************************************************************************************/
@media (min-width: 400px) {
  .showcase {
    margin-top: 10%; }

  .music {
    padding: 10% 5% 40%; }

  .band .about-btn {
    margin-top: 10%; } }
/* MEDIA MIN 500px ************************************************************************************************************************************/
@media (min-width: 500px) {
  .showcase {
    margin-top: 8%; }

  .music {
    padding: 10% 5% 25%; }
    .music .social-image {
      margin: 0 auto 15%;
      width: 35%; }
    .music .bc-img {
      margin: auto;
      width: 70%; }

  footer {
    padding: 5% 0 3%; }
    footer p {
      text-align: justify; } }
/* MEDIA MIN 600px ************************************************************************************************************************************/
@media (min-width: 600px) {
  .showcase {
    margin-top: 6%; }

  .band .about-btn {
    margin-top: 8%; }

  /* MUSIC/SOCIAL SECTION ****************************************************/
  .music {
    padding: 10% 0 30%; }
    .music .social-image {
      margin: 0 auto 15%;
      width: 35%; }
    .music .social-image {
      margin: 0 auto;
      width: 30%; }
    .music .bc-img {
      margin: auto;
      width: 70%; } }
/* MEDIA MIN 700px ************************************************************************************************************************************/
@media (min-width: 700px) {
  footer {
    padding: 5% 0 3%; }
    footer p {
      text-align: justify; }

  /* MUSIC/SOCIAL SECTION ****************************************************/
  .music {
    padding: 10% 5% 25%; }
    .music .social-image {
      margin: 0 auto 15%;
      width: 35%; }
    .music .bc-img {
      margin: auto;
      width: 60%; } }
@media (min-width: 768px) and (max-width: 799px) {
  /* MUSIC/SOCIAL SECTION ****************************************************/
  .music {
    padding: 10% 5% 25%; }
    .music .social-image {
      margin: 0 auto 15%;
      width: 100%; }
    .music .bc-img {
      margin: auto;
      width: 60%; } }
/* MEDIA MIN 800px ************************************************************************************************************************************/
@media (min-width: 800px) {
  .showcase {
    margin-top: 5%; }

  /* MUSIC/SOCIAL SECTION ****************************************************/
  .music {
    padding: 10% 5% 25%; }
    .music .social-image {
      margin: 0 auto 15%;
      width: 80%; }
    .music .bc-img {
      margin: auto;
      width: 60%; } }
/* MEDIA MIN 900px *********************************************************************************************************************************/
@media (min-width: 900px) {
  /* SHOWCASE SECTION****************************************************/
  .showcase {
    background-size: contain;
    margin-top: 3%;
    padding: 0; }
    .showcase h3 {
      margin-top: 0;
      padding: 25% 0;
      opacity: .65;
      text-transform: lowercase; } }
/* MEDIA MIN 1000px *********************************************************************************************************************************/
@media (min-width: 1000px) {
  /* SHOWCASE SECTION****************************************************/
  .showcase {
    background-size: contain;
    margin-top: 3%;
    padding: 0; }
    .showcase h3 {
      margin-top: 0;
      padding: 25% 0;
      opacity: .65;
      text-transform: lowercase; }

  /* BAND SECTION ************************************************/
  .band {
    background-color: #8c7457;
    margin: 5% 5% 7%;
    text-align: center; }
    .band h4 {
      margin-bottom: 7%; }
    .band .member {
      margin-top: 5%; }
      .band .member .member-desc {
        margin-top: 10%; }
    .band .person {
      margin: auto;
      width: 50%; }

  /* MUSIC SECTION ****************************************************/
  .music {
    margin: 5% 0 0;
    padding: 8% 0 20%; }
    .music .social-image {
      margin: 0 auto;
      width: 45%; }
    .music .bc-img {
      width: 40%; }
    .music h4 {
      font-size: 3rem; }

  /* FOOTER ********************************************************/
  footer {
    background-color: #222;
    border-top: 1px solid #080808;
    padding: 2% 0; }
    footer p {
      font-size: 1.2rem;
      margin: auto;
      opacity: .7;
      text-align: center; }
      footer p a {
        color: inherit; }
      footer p a:hover {
        color: #8c7457; }
    footer ul {
      list-style-type: none;
      margin: auto;
      text-align: center; }
      footer ul li {
        display: block; }
        footer ul li a {
          color: #eee; }
        footer ul li a:hover {
          color: #8c7457; }
        footer ul li a:visited {
          color: #a2a2a2; } }
/* MEDIA MIN 200PX ********************************************************************************************************** */
@media (min-width: 200px) {
  /* SHOWCASE ****************************************************/
  .showcase {
    background-color: #5d8965;
    background-image: url("../imgAB/analogBreather.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 16%;
    padding: 10% 0 50%; }
    .showcase h3 {
      padding: 15% 0 10%;
      opacity: .65;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
      text-transform: lowercase; }
    .showcase form {
      margin: auto; }
      .showcase form .form-control {
        box-shadow: 1px 3px 5px #555555; }
      .showcase form button {
        background-color: #8c7457;
        border: 1px solid #706150;
        box-shadow: 1px 3px 5px #555555;
        width: 100%; }
      .showcase form button:focus {
        outline: none; }
      .showcase form button:hover {
        background-color: #836c51;
        color: #d5d5d5; }
      .showcase form textarea {
        outline: none;
        resize: none;
        transition: all 1s; }
      .showcase form textarea:focus {
        border: 2px solid #8c7457;
        height: 100px;
        outline: none; } }
/* MEDIA MIN 300px ************************************************************************************************************************************/
@media (min-width: 300px) {
  /* SHOWCASE ****************************************************/
  .showcase {
    margin-top: 16%;
    padding: 0 0 50%; }
    .showcase h3 {
      padding: 10% 0; } }
/* MEDIA MIN 400px ************************************************************************************************************************************/
@media (min-width: 400px) {
  /* SHOWCASE ****************************************************/
  .showcase {
    margin-top: 16%; } }
/* MEDIA MIN 500px ************************************************************************************************************************************/
@media (min-width: 500px) {
  /* SHOWCASE ****************************************************/
  .showcase {
    margin-top: 13%;
    padding: 0 0 40%; } }
/* MEDIA MIN 600px ************************************************************************************************************************************/
@media (min-width: 600px) {
  /* SHOWCASE ****************************************************/
  .showcase {
    margin-top: 8%;
    padding: 0 0 30%; }
    .showcase form {
      margin: auto; }
      .showcase form .form-control {
        margin: auto;
        width: 75%; }
      .showcase form button {
        width: 75%; }
      .showcase form button:focus {
        outline: none; } }
/* MEDIA MIN 700px ************************************************************************************************************************************/
@media (min-width: 700px) {
  /* SHOWCASE ****************************************************/
  .showcase {
    margin-top: 16%;
    padding: 0 0 30%; }
    .showcase form {
      margin: auto; }
      .showcase form button {
        width: 75%; }
      .showcase form button:focus {
        outline: none; }
      .showcase form button:hover {
        background-color: #836c51;
        color: #d5d5d5; } }
/* MEDIA MIN 800px ************************************************************************************************************************************/
@media (min-width: 800px) {
  /* SHOWCASE ****************************************************/
  .showcase {
    margin-top: 5%;
    padding: 0 0 25%; }
    .showcase form .form-control {
      width: 80%; }
    .showcase form button {
      width: 60%; } }
/* MEDIA MIN 1000px *********************************************************************************************************************************/
@media (min-width: 1000px) {
  /* SHOWCASE SECTION****************************************************/
  .showcase {
    background-size: contain;
    margin-top: 3%;
    padding: 0 0 20%; }
    .showcase h3 {
      padding: 8% 0 4%; }
    .showcase form .form-group {
      margin: 2% auto; }
      .showcase form .form-group .form-control {
        width: 60%; }
      .showcase form .form-group .form-control:focus {
        border: 2px solid #8c7457;
        outline: none; }
    .showcase form textarea {
      outline: none;
      resize: none;
      transition: all 1s; }
    .showcase form textarea:focus {
      border: 2px solid #8c7457;
      height: 100px;
      outline: none; }
    .showcase form button {
      background-color: #8c7457;
      border: 1px solid #706150;
      font-size: 2rem;
      margin-top: 1%;
      padding: 15px 0;
      width: 35%; } }

/*# sourceMappingURL=contact.css.map */
