@import url("https://fonts.googleapis.com/css?family=Raleway");
html {
  margin: 0;
  padding: 0; }

body {
  background-color: #8c7457;
  color: #eee;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
  text-align: center; }

nav .navbar .navbar-brand {
  color: #eee; }
nav .navbar a:hover {
  color: #8c7457; }

.row {
  margin-right: 0;
  margin-left: 0; }

a.top {
  background-color: #585757;
  border-radius: 3px;
  bottom: 2%;
  color: #eee;
  opacity: .4;
  padding: 5px;
  position: fixed;
  right: 1%;
  transition: all .3s;
  z-index: 100; }
  a.top .top:hover {
    opacity: 1 !important; }

/* MEDIA MIN 200PX ********************************************************************************************************** */
@media (min-width: 200px) {
  /* SHOWCASE ****************************************************/
  .showcase {
    background-color: #5d8965;
    background-image: url("../imgAB/analogBreather.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 16%;
    padding: 10% 0 90%; }
    .showcase h3 {
      padding-top: 50%;
      opacity: .65;
      text-transform: lowercase; }

  /* BAND SECTION ************************************************/
  .band {
    background-color: #8c7457;
    margin: 15% 5% 0;
    text-align: center; }
    .band .member {
      margin-top: 15%; }
      .band .member .member-desc {
        margin-top: 10%; }
    .band .person {
      margin: auto; }
    .band .about-btn {
      color: #eee;
      background-color: #5d8965;
      margin-top: 15%; }
    .band .about-btn:hover {
      background-color: #537a5a; }

  /* MUSIC/SOCIAL SECTION ****************************************************/
  .music {
    background-color: #8c7457;
    color: #eee;
    margin: 5% 0 0;
    padding: 50% 5%; }
    .music .social-image {
      margin: 0 auto 15%;
      width: 35%; }
    .music .bc-img {
      margin: auto;
      width: 70%; }

  /* CONTACT SECTION *******************************************************/
  .contact {
    background-color: #5d8965;
    margin: auto;
    padding-top: 25%;
    padding-bottom: 25%; }
    .contact button {
      background-color: #8c7457;
      border: 1px solid #706150;
      width: 100%; }
    .contact button:focus {
      outline: none; }
    .contact button:hover {
      color: #d5d5d5; }

  /* FOOTER ********************************************************/
  footer {
    background-color: #222;
    border-top: 1px solid #080808;
    padding: 5% 0 10%; }
    footer p {
      margin: auto;
      opacity: .7; }
      footer p a {
        color: inherit; }
      footer p a:hover {
        color: #8c7457; }
    footer ul {
      list-style-type: none;
      margin: auto;
      text-align: left; }
      footer ul li {
        display: inline-block; }
        footer ul li a {
          color: #eee; }
        footer ul li a:hover {
          color: #8c7457; }
        footer ul li a:visited {
          color: #a2a2a2; } }
/* MEDIA MIN 300px ************************************************************************************************************************************/
@media (min-width: 300px) {
  .showcase {
    margin-top: 13%; }

  /* SOCIAL SECTION ********************************************************/
  .social {
    padding: 25% 0; }
    .social .social-image {
      margin: 0 auto;
      width: 50%; } }
/* MEDIA MIN 400px ************************************************************************************************************************************/
@media (min-width: 400px) {
  .showcase {
    margin-top: 10%; }

  .band .about-btn {
    margin-top: 10%; } }
/* MEDIA MIN 500px ************************************************************************************************************************************/
@media (min-width: 500px) {
  .showcase {
    margin-top: 8%; }

  /* CONTACT SECTION *******************************************************/
  .contact {
    padding: 15% 0 20%; }
    .contact .form-control {
      margin: auto;
      width: 90%; }
    .contact button {
      width: 90%; }

  .music {
    padding: 30% 5%; }
    .music .social-image {
      margin: 0 auto 15%;
      width: 35%; }
    .music .bc-img {
      margin: auto;
      width: 70%; }

  footer {
    padding: 5% 0 3%; }
    footer p {
      text-align: justify; } }
/* MEDIA MIN 600px ************************************************************************************************************************************/
@media (min-width: 600px) {
  .showcase {
    margin-top: 6%; }

  .band .about-btn {
    margin-top: 8%; }

  /* MUSIC/SOCIAL SECTION ****************************************************/
  .music {
    padding: 15% 0; }
    .music .social-image {
      margin: 0 auto 15%;
      width: 35%; }
    .music .social-image {
      margin: 0 auto;
      width: 30%; }
    .music .bc-img {
      margin: auto;
      width: 70%; } }
/* MEDIA MIN 700px ************************************************************************************************************************************/
@media (min-width: 700px) {
  .contact {
    padding: 10% 0 15%; }
    .contact .form-control {
      margin: auto;
      width: 80%; }
    .contact button {
      width: 80%; }

  footer {
    padding: 5% 0 3%; }
    footer p {
      text-align: justify; }

  /* MUSIC/SOCIAL SECTION ****************************************************/
  .music {
    padding: 15% 5%; }
    .music .social-image {
      margin: 0 auto 15%;
      width: 80%; }
    .music .bc-img {
      margin: auto;
      width: 60%; } }
/* MEDIA MIN 800px ************************************************************************************************************************************/
@media (min-width: 800px) {
  .showcase {
    margin-top: 5%; }

  .band .about-btn {
    margin-top: 10%; }

  .contact {
    padding: 8% 0 12%; }
    .contact .form-control {
      margin: auto;
      width: 75%; }
    .contact button {
      width: 75%; } }
/* MEDIA MIN 1000px *********************************************************************************************************************************/
@media (min-width: 1000px) {
  /* SHOWCASE SECTION****************************************************/
  .showcase {
    background-size: contain;
    margin-top: 3%;
    padding: 0; }
    .showcase h3 {
      margin-top: 0;
      padding: 25% 0;
      opacity: .65;
      text-transform: lowercase; }

  /* BAND SECTION ************************************************/
  .band {
    background-color: #8c7457;
    margin: 5% 5% 7%;
    text-align: center; }
    .band h4 {
      margin-bottom: 7%; }
    .band .member {
      margin-top: 5%; }
      .band .member .member-desc {
        margin-top: 10%; }
    .band .person {
      margin: auto;
      width: 50%; }

  /* MUSIC SECTION ****************************************************/
  .music {
    margin: 5% 0 0;
    padding: 8% 0; }
    .music .social-image {
      margin: 0 auto;
      width: 55%; }
    .music .bc-img {
      width: 50%; }
    .music h4 {
      font-size: 3rem; }

  /* SOCIAL SECTION ********************************************************/
  /* CONTACT SECTION *******************************************************/
  .contact {
    margin: auto;
    padding: 5% 0 7%; }
    .contact .form-group {
      margin: 2% auto; }
      .contact .form-group .form-control {
        width: 60%; }
      .contact .form-group .form-control:focus {
        border: 2px solid #8c7457;
        outline: none; }
    .contact textarea {
      outline: none;
      resize: none;
      transition: all 1s; }
    .contact textarea:focus {
      border: 2px solid #8c7457;
      height: 100px;
      outline: none; }
    .contact button {
      background-color: #8c7457;
      border: 1px solid #706150;
      font-size: 2rem;
      margin-top: 1%;
      padding: 15px 0;
      width: 35%; }
    .contact button:focus {
      outline: none; }
    .contact button:hover {
      color: #d5d5d5; }

  /* FOOTER ********************************************************/
  footer {
    background-color: #222;
    border-top: 1px solid #080808;
    padding: 2% 0; }
    footer p {
      margin: auto;
      opacity: .7;
      text-align: justify; }
      footer p a {
        color: inherit; }
      footer p a:hover {
        color: #8c7457; }
    footer ul {
      list-style-type: none;
      margin: auto;
      text-align: justify; }
      footer ul li {
        display: block; }
        footer ul li a {
          color: #eee; }
        footer ul li a:hover {
          color: #8c7457; }
        footer ul li a:visited {
          color: #a2a2a2; } }

/*# sourceMappingURL=custom.css.map */
