@import 'custom';

@media(min-width:200px){
  .blog{
    .post{
      background-color: $tan;
      border-radius: 5px;
      box-shadow: 1px 3px 5px #555555;
      margin-bottom: 15%;
      padding: 5%;
      text-align: justify;
      h3{
        margin: 3%;
      }  
      .author{
        text-transform: lowercase;
        text-indent: 10px;
      }
    }
  }
}

@media(min-width:1000px){
  .blog{
    .post{
      margin-bottom: 5%;
      padding: 3%;
      text-align: justify;
      h3{
        margin: 3%;
      }  
      .author{
        text-transform: lowercase;
        text-indent: 10px;
      }
    }
  }
}