// IMPORTS
@import url('https://fonts.googleapis.com/css?family=Raleway');

// GLOBAL COLORS
$white: #eee;
$tan: #8c7457;
$alien: #5d8965;

//GLOBAL STYLES
html{
  margin: 0;
  padding: 0;
}
body{
  background-color: $tan;
  color: $white;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
  text-align: center;
}

nav{
  
  .navbar{
    .navbar-default{
      background-color: $tan !important;
      border-color: #807160 !important;
    }
    .navbar-brand{
      color: $white;
    }
    a:hover{
      color: $tan;
    }
  }
}

// hr {
//   display:none;
//   border: 0;
//   height: 1px;
//   background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(238, 238, 238, 0.75), rgba(0, 0, 0, 0));
// }

/* MEDIA MIN 200PX ********************************************************************************************************** */
@media (min-width: 200px){

//   .container{
//     padding: 80px 120px;
//   }
// }

/* SHOWCASE ****************************************************/
.showcase{
  background-color: $alien;
  background-image: url('../imgAB/analogBreather.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 16%;
  padding: 10% 0 90%;
  h3{
    // margin-top: 50%;
    padding-top: 50%;
    opacity: .65;
    text-transform: lowercase;
  }
}

/* BAND SECTION ************************************************/
.band{
  background-color: $tan;
  // margin-top: 15%;
  margin: 15% 5% 0;
  text-align: center;
  .member{
    margin-top: 15%;
    .member-desc{
      margin-top: 10%;
    }
  }
  .person{
    margin: auto;
  }

}

/* MUSIC SECTION ****************************************************/
.music{
  // margin-top: 15%;
  background-color: $alien;
  margin: 15% 0 0;
  padding: 50% 5%;
  img{
    margin: auto;
    width: 80%;
  }
}

/* SOCIAL SECTION ********************************************************/
.social{
  color: $white;
  margin: 0 5%;
  padding: 50% 0;
  .fb{
    margin: 0 auto 15%;
    width: 50%;
  }
  .insta{
    margin: 0 auto 15%;
    width: 50%;
  }
}

/* CONTACT SECTION *******************************************************/
.contact{
  background-color: $alien;
  margin: auto;
  padding-top: 25%;
  padding-bottom: 25%;
  button{
    background-color: $tan;
    border: 1px solid #706150;
    width: 100%;
  }
  button:focus{
    outline: none;
  }
  button:hover{
    color: darken($white, 10%);
  }
}

  /* FOOTER ********************************************************/
  footer{
    background-color: #222;
    border-top: 1px solid #080808;
    padding-top: 5%;
    padding-bottom: 10%;
    p{
      margin: auto;
      opacity: .7;
      a{
        color: inherit;
      }
      a:hover{
        color:$tan;
      }
    }
    ul{
      list-style-type: none;
      margin: auto;
      text-align: left;
      li{
        display: inline-block;
        a{
          color:$white;
        }
        a:hover{
          color: $tan;
        }
        a:visited{
          color: darken($white, 30%);
        }
      }
    }
  }


}

/* MEDIA MIN 1000px *********************************************************************************************************************************/
@media (min-width: 1000px){
    // hr{
    //   display: none;
    // }


    /* SHOWCASE SECTION****************************************************/
    .showcase{
      background-size: contain;
      margin-top: 0;
      padding: 0;
      h3{
        margin-top:0;
        padding: 25% 0;
        opacity: .65;
        text-transform: lowercase;
      }
    }

    /* BAND SECTION ************************************************/
  .band{
    background-color: $tan;
    // margin-top: 15%;
    margin: 5% 5% 7%;
    text-align: center;
    
    h4{
      margin-bottom: 7%;
    }
    
    .member{              //column for members
      margin-top: 5%;
      .member-desc{       //caption for image
        margin-top: 10%;
      }
    }
    
    .person{              //image itself
      margin: auto;
      width: 50%;
    }
  }

    /* MUSIC SECTION ****************************************************/
  .music{
    // margin-top: 15%;
    background-color: $alien;
    margin: 15% 0 0;
    padding: 10% 0;
    h4{
      font-size: 3rem;
    }
    img{
      margin: auto;
      width: 40%;
    }
  }

    /* SOCIAL SECTION ********************************************************/
  .social{
    color: $white;
    margin: 0;
    padding: 7% 0;
    h4{
      margin-top: 5%;
    }
    .fb{
      margin: 0 auto;
      width: 70%;
    }
    .insta{
      margin: 0 auto;
      width: 70%;
    }
  }

    /* CONTACT SECTION *******************************************************/
  .contact{
    margin: auto;
    padding: 5% 0;
    
      .form-group{
        margin: 2% auto;
        text-align: left;
        width: 50%;
        .form-control:focus{
          border: 2px solid $tan;
          outline: none;
        }
      }
    textarea{
      outline: none;
      resize:none;
      transition: all 1s;
    }
    textarea:focus{
      border: 2px solid $tan;
      height: 100px;
      outline: none;
    }
    button{
      background-color: $tan;
      border: 1px solid #706150;
      font-size: 2rem;
      padding: 20px 0;
      width: 20%;
    }
    button:focus{
      outline: none;
    }
    button:hover{
      color: darken($white, 10%);
    }
  }

    /* FOOTER ********************************************************/
    footer{
      background-color: #222;
      border-top: 1px solid #080808;
      padding: 2% 0;
      p{
        margin: auto;
        opacity: .7;
        text-align: justify;
        a{
          color: inherit;
        }
        a:hover{
          color:$tan;
        }
      }
      ul{
        list-style-type: none;
        margin: auto;
        text-align: justify;
        li{
          display: block;
          a{
            color:$white;
          }
          a:hover{
            color: $tan;
          }
          a:visited{
            color: darken($white, 30%);
          }
        }
      }
    }
}